*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
}

p{
    color: rgb(70, 70, 70);
    font-size: 25px;
    font-style: oblique;
}
button:hover{
    opacity: 50%;
}
/* Navbar */
nav{
    background: black;
    opacity: 70%;
    height: 80px;
    width: 100%;
    position: fixed;

}
label.logo{
    color: wheat;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 5px;
}
a{
    text-decoration: none;
}
#simple1:hover{
    background: rgb(197, 197, 197);
    color: black;
    transition: 0.5s;
}
#age1:hover{
    background: #c5d6e9;
    color: black;
    transition: 0.5s;
}
#bmi1:hover{
    background: rgb(151, 231, 151);
    color: black;
    transition: 0.5s;
}
#tip1:hover{
    background: #ec483f;
    color: black;
    transition: 0.5s;
}


.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;

    }
}
@media (max-width: 972px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        transition: all 0.5s;
        text-align: center;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    #simple1:hover{
        background: grey;
        color: white;
        transition: 0.5s;
    }
    #age1:hover{
        background: #c5d6e9;
        color: white;
        transition: 0.5s;
    }
    #bmi1:hover{
        background: rgb(151, 231, 151);
        color: white;
        transition: 0.5s;
    }
    #tip1:hover{
        background: #ec483f;
        color: white;
        transition: 0.5s;
    }
    #check:checked ~ ul{
        left: 0;

    }
}

/* navbar ends */




/* simple calculator starts */
.container-simcalc{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 197, 197);
}

.simple_calculator{
    background-color: #ecf0f3;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,
                      5px 5px 12px rgba(0,0,0,.16);
    display: grid;
    grid-template-columns: repeat(4,68px);
}

.input-simcalc{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px white,
                inset 5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 30px;
    color: rgb(70, 70, 70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;
}

.button-simcalc{
    height: 48px;
    width: 48px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px #ffffff,
                5px 5px 12px rgba(0,0,0,.16);
    border: none;   
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;         
}


.equal{
    width: 115px;
    border-radius: 40px;
    background-color: ;
}

/* simple calculator ends */

/* age calculatro starts */

.container-agecalc{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c5d6e9;
}

.age-calculator{
    background-color: #A7C7E7;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #c7dff7,
                      5px 5px 12px rgba(0,0,0,.16);
}

.input-agecalc{
    height: 60px;
    width: 360px;
    background-color: #A7C7E7;
    box-shadow: inset -5px -5px 12px #c7dff7,
                inset 5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 30px;
    color: rgb(70, 70, 70);
    font-size: 30px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;
}

.button-agecalc{
    height: 60px;
    width: 160px;
    background-color: #A7C7E7;
    box-shadow: -5px -5px 12px #c7dff7,
                5px 5px 12px rgba(0,0,0,.16);
    border: none;   
    border-radius: 30px;
    margin-left: 10px;
    font-size: 25px;         
}


.output-wrap{
    background-color: #A7C7E7;
    display: flex;
}
span{
    width: 100px;
    height: 80px;
    text-align: center;
    border-radius: 25px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #A7C7E7;
    box-shadow: -5px -5px 12px #c7dff7,
                5px 5px 12px rgba(0,0,0,.16);
}

.text-bg{
    background-color: #A7C7E7;
}

/* age calculator ends */

/* bmi calculator starts */

.container-bmicalc{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(151, 231, 151);
}

.bmi-calculator{
    background-color: #77dd77;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #8ff18f,
                      5px 5px 12px rgba(0,0,0,.16);
}

.input-bmicalc{
    height: 30px;
    width: 200px;
    background-color: #77dd77;
    box-shadow: inset -5px -5px 12px #8ff18f,
                inset 5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 30px;
    color: rgb(70, 70, 70);
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;
}

.button-bmicalc{
    height: 44px;
    width: 150px;
    background-color: #77dd77;
    box-shadow: -5px -5px 12px #8ff18f,
                5px 5px 12px rgba(0,0,0,.16);
    border: none;   
    border-radius: 20px;
    margin: 8px;
    font-size: 25px;         
}
.calc-div{
    text-align: center;
}

/* bmi calculator ends */

/* tip calculator starts */


.container-tipcalc{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ec483f;
}

.tip-calculator{
    background-color: #ff6961;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #f8908b,
                      5px 5px 12px rgba(0,0,0,.16);
    
}

.input-tipcalc{
    height: 40px;
    width: 200px;
    background-color: #ff6961;
    box-shadow: inset -5px -5px 12px #f8908b,
                inset 5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 30px;
    color: rgb(70, 70, 70);
    font-size: 30px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
}

select{
    height: 40px;
    width: 200px;
    background-color: #ff6961;
    box-shadow: inset -5px -5px 12px #f8908b,
                inset 5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 30px;
    color: rgb(70, 70, 70);
    font-size: 20px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 8px;
}

.button-tipcalc{
    height: 40px;
    width: 130px;
    background-color: #ff6961;
    box-shadow: -5px -5px 12px #f8908b,
                5px 5px 12px rgba(0,0,0,.16);
    border: none;   
    border-radius: 25px;
    margin: 8px;
    font-size: 25px;         
}
